
.container{
    display: flex;
   align-content: center;
    flex-flow: column wrap;
    background-color: lightslategray;
    box-shadow: 0 2px 4px;
}

header{
    text-decoration: underline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.input-div{
    display: block;
}

h5{
    color: white;
}

#input-value{
    border: 2px solid rgb(12, 12, 12);
    background-color: lightgray;
    padding:  2px 10px;
}

#input-btn{
    border: 1px solid rgb(12, 12, 12);
    background-color: lightgray;
    padding:  2px 10px;
    font-weight: bolder;
}
